## Python Basics

In [1]:
5+6

11

In [2]:
9*4

36

In [3]:
56-45

11

In [4]:
4%2

0

In [5]:
4/2

2.0

In [6]:
6//2    ## // provide whole number . it's not consider decimal.

3

In [7]:
6/2

3.0

In [12]:
5//2

2

In [9]:
## BODMAS Formula
8+4*6

32

In [11]:
(7+3)*6/3

20.0

In [13]:
## Functions

In [14]:
type(6/2)

float

In [15]:
type("Lion")

str

In [16]:
type(True)

bool

In [17]:
type("False")

str

In [18]:
type(False)  ## str always write inside '' or ""

bool

In [19]:
type(2)

int

In [21]:
## Vriable
x = 20
y = 30
z = x + y
z

50

In [22]:
## Boolean operation
True or False

True

In [23]:
True and False

False

In [24]:
True/False

ZeroDivisionError: division by zero

In [25]:
False/True

0.0

In [26]:
False//True

0

In [27]:
True | False

True

In [28]:
a = 10
b = 20
a+b>30 | a-b<10

True

In [29]:
a = 10
b = 20
a+b>30 or a-b<10

True

In [30]:
## Strings
a = "I am a girl"
print(a)

I am a girl

In [34]:
## Never used reserved keyword with variable
str = ("key")
str

'key'

In [35]:
str(1)
str

TypeError: 'str' object is not callable

In [36]:
str

'key'

In [37]:
type(str)

str

In [38]:
str(1)

TypeError: 'str' object is not callable

In [1]:
str(1)

'1'

In [2]:
str1= "ram"
str2= "shyam"
print(str1)
print(str2)

ram
shyam

In [4]:
str1= "ram"
str2= "shyam"
str1+str2

'ramshyam'

In [7]:
str1= "ram"
str2= "shyam"
str1+" "+str2

'ram shyam'

In [8]:
name = input("Enter your name?")
print(name)

Enter your name?Priyanka
Priyanka

In [9]:
## Add more variables

In [1]:
First_name = input("Enter your first name")
Last_name = input("Enter your last name")
print(First_name,Last_name)

Enter your first namePriyanka
Enter your last nameKumari
Priyanka Kumari

In [1]:
First_name = input("Enter your first name ")
Last_name = input("Enter your last name ")
print(First_name,Last_name)

Enter your first name Priyanka
Enter your last name Kumari
Priyanka Kumari

In [2]:
a=input("Enter first number")
b=input("Enter second number")
c=a+b
print(c)

Enter first number45
Enter second number67
4567

In [3]:
a=float(input("Enter first number"))
b=float(input("Enter second number"))
c=a+b
print(c)

Enter first number45
Enter second number67
112.0

##String formatting

In [6]:
First_name = input("Enter your first name ")
Last_name = input("Enter your last name ")
print("My first name is and my last name is", First_name , Last_name)

Enter your first name Priyanka
Enter your last name Kumari
My first name is and my last name is Priyanka Kumari

In [9]:
First_name = input("Enter your first name ")
Last_name = input("Enter your last name ")
print("My first name is {} and my last name is {} " .format(First_name , Last_name))

Enter your first name Priyanka
Enter your last name Kumari
My first name is Priyanka and my last name is Kumari

In [10]:
First_name = input("Enter your first name ")
Last_name = input("Enter your last name ")
print("My first name is {} and my last name is {} " .format(Last_name , First_name))

Enter your first name Priyanka
Enter your last name Kumari
My first name is Kumari and my last name is Priyanka

In [11]:
First_name = input("Enter your first name ")
Last_name = input("Enter your last name ")
print("My first name is {firstname} and my last name is {lastname} " .format(lastname=Last_name ,firstname=First_name))

Enter your first name Priyanka
Enter your last name Kumari
My first name is Priyanka and my last name is Kumari

##Variable Dynamic typing

In [14]:
a = 45
type(a)

int

In [15]:
a = 56.7
type(a)

float

In [16]:
##Strong typing
a = 1
b = "Priya"
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
a = str(1)
b = ("Priya")
a+b

'1Priya'

In [21]:
###Conditinal Statements
##if and elif:
a = int(input("Enter first number"))
b = int(input("Enter second number"))
c = a-b
print("Number is ",c)
if c<0:
    print("Number is negative")
else:
    print("Number is positive")

Enter first number20
Enter second number30
Number is  -10
Number is negative

In [22]:
a = int(input("Enter first number"))
b = int(input("Enter second number"))
c = a-b
print("Number is ",c)
if c<0:
    print("Number is negative")
else:
    print("Number is positive")

Enter first number30
Enter second number20
Number is  10
Number is positive

In [23]:
a = int(input("Enter first number"))
b = int(input("Enter second number"))
c = a-b
print("Number is ",c)
if c<0:
    print("Number is negative")
elif c>50:
    print("Number is Huge")
else:
    print("Number is positive")

Enter first number100
Enter second number20
Number is  80
Number is Huge

### Data Structures
#List
#Tuple
#String
#Dictionary
#Sets

In [30]:
lst = [1,2,5,"Ram","Shyam",7,8]

In [31]:
lst[5]

7

In [32]:
lst[-3]

'Shyam'

In [33]:
lst.append(10)

In [34]:
lst

[1, 2, 5, 'Ram', 'Shyam', 7, 8, 10]

In [36]:
type(lst)

list

In [38]:
lst[3]=8

In [39]:
lst

[1, 2, 5, 8, 'Shyam', 7, 8, 10]

In [40]:
##Indexing
str1="Shyam"
str1[2]

'y'

In [41]:
pwd

'C:\\Users\\RahulA'