A set is a collection which is unordered, unchangeable*, and unindexed.

In [1]:
sets = {'apple','orange','mango'}
type(sets)

set

 Set items are unchangeable, but you can remove items and add new items.

In [2]:
sets

{'apple', 'mango', 'orange'}

In [3]:
sets = {'apple','mango','apple','orange'}
sets

{'apple', 'mango', 'orange'}

In [4]:
sets = {'mango','orange',True,1,2}
sets

{2, True, 'mango', 'orange'}

above examples set understands True and 1 is same and as we know that set doesn't keep duplicate values

In [6]:
#Set constructor
a = ['apple',1]
print(type(a))
b = set(a)
print(type(b))

<class 'list'>
<class 'set'>

In [7]:
b = {'apple',2}
b

{2, 'apple'}

In [8]:
b[0]

TypeError: 'set' object is not subscriptable

In [9]:
b['apple']='orange'
b

TypeError: 'set' object does not support item assignment

In [10]:
b.add('orange')
b

{2, 'apple', 'orange'}

In [11]:
a = {'ram','sita'}
b = ['shiv','shakti']
a.update(b)

In [12]:
a

{'ram', 'shakti', 'shiv', 'sita'}

In [13]:
b.update(a)
b

AttributeError: 'list' object has no attribute 'update'

In [14]:
b.add(a)

AttributeError: 'list' object has no attribute 'add'

To remove an item in a set, use the remove(), or the discard() method.

In [18]:
a = {1,4,8}
a.remove(8)
a

{1, 4}

In [19]:
a.discard(1)
a

{4}

In [20]:
8 in a

False

In [21]:
4 in a

True

There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [22]:
a = {1,6}
b = {'ram','sita'}
c = a.union(b)
c

{1, 6, 'ram', 'sita'}

In [23]:
d = a.union(c)
d

{1, 6, 'ram', 'sita'}

In [25]:
e = a.intersection(c)
e

{1, 6}

In [26]:
a = {1,6,9}
f = a.difference(e)
f

{9}

In [27]:
x = e.difference(a)
x

set()

In [28]:
y = a.symmetric_difference(c)
y

{9, 'ram', 'sita'}